In [2]:
import os
import platform

In [3]:
filename_read = '/Users/Faiza/Clean_Dataset.csv'
df =pd.read_csv(filename_read)

In [11]:
#Sorting values by airline

df = df.sort_values(by='airline', ascending=True)

In [12]:
#Checking for null values in airline
df['airline'].isnull().sum()

0

In [17]:
#Checking for null values in source city
df['source_city'].isnull().sum()

0

In [18]:
#Checking for null values in departure time
df['departure_time'].isnull().sum()

0

In [26]:
#Checking for null values in stops
df['stops'].isnull().sum()

0

In [27]:
#Checking for null values in arrival_time
df['arrival_time'].isnull().sum()

0

In [19]:
#Checking for null values in destination city
df['destination_city'].isnull().sum()

0

In [20]:
#Checking for null values in class
df['class'].isnull().sum()

0

In [24]:
#Checking for null values in duration
df['duration'].isnull().sum()

0

In [25]:
#Checking for null values in days left
df['days_left'].isnull().sum()

0

In [22]:
#Checking for null values in price
df['price'].isnull().sum()

0

In [14]:
#Checking overall and asking for sum of null values
df.isnull().values.all().sum()

0

In [7]:
# Dropping Flight column
df.drop('flight', 1, inplace=True)

/var/folders/rb/3ckfjfm525j2f2s5dq_8x9t00000gp/T/ipykernel_13173/2845467333.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop('flight', 1, inplace=True)

In [8]:
# Changing price to Pounds
df["price"] = (df["price"]*0.011).round(2)

In [9]:
# Printinf dataset
print(df)

        Unnamed: 0  airline source_city departure_time        stops  \
184894      184894  AirAsia     Chennai          Night          one
186660      186660  AirAsia     Chennai        Morning  two_or_more
186659      186659  AirAsia     Chennai        Morning          one
186658      186658  AirAsia     Chennai        Morning  two_or_more
186657      186657  AirAsia     Chennai        Morning          one
...            ...      ...         ...            ...          ...
211524      211524  Vistara       Delhi        Evening          one
87243        87243  Vistara   Bangalore        Evening          one
87244        87244  Vistara   Bangalore        Morning          one
87482        87482  Vistara   Bangalore        Morning          one
300152      300152  Vistara     Chennai        Morning          one

       arrival_time destination_city     class  duration  days_left   price
184894      Morning            Delhi   Economy     10.92         33   27.25
186660   Late_Night            Delhi   Economy     16.00         44   27.25
186659   Late_Night            Delhi   Economy     15.17         44   27.25
186658        Night            Delhi   Economy     13.50         44   27.25
186657        Night            Delhi   Economy     11.67         44   27.25
...             ...              ...       ...       ...        ...     ...
211524        Night           Mumbai  Business      5.83         45  647.64
87243    Late_Night            Delhi   Economy      5.17         18   45.22
87244     Afternoon            Delhi   Economy      5.58         18   45.22
87482       Evening            Delhi   Economy      8.58         19   45.22
300152      Evening        Hyderabad  Business     10.08         49  897.44

[300153 rows x 11 columns]